.div {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
.ikona1 {
    margin-top: 20px;
}
.div2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 50px;
    text-align: center;
    margin-left: 5%
}
.bg {
    background-color: brown;
}
.img {
    border: none;
    background-image: url(rv.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 850px;
}
.txt {
    margin-top: 15px;
}
.txt:hover {
    color: crimson;
}
.div3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}
.div4 {
    background-color: brown;
    width: 100%;
    height: 500px;
}
.po {
    display: grid;
    grid-template-columns: auto;
}
.bg2 {
    background-color: red;
}
.div5 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 100%;
    height: 100px;
    text-align: center;
}
.txt2 {
    margin-top: 35px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.menu {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.ikona2 {
    margin-top: 20px;
    font-size: 50px;
}
.txt3 {
    text-align: left;
    margin-left: 300px;
    padding: 20px;
}
.txt4 {
    text-align: left;
}
.grid {
    display: grid;
    grid-template-columns: 75% 25%;
}
.grid2 {
    display: grid;
    grid-template-rows: auto auto auto auto;
}
.rgd {
    grid-template-columns: auto auto auto auto;
    display: grid;
    text-align: center;
  }
.txt2:hover {
    color: cornflowerblue;
}